/* tableStyle.css */
.table-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  
  .song-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    background-color: #f2f2f2;
    border-radius: 8px;
  }
  
  .song-table th,
  .song-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .song-table th {
    background-color: #5bc0de;
    color: white;
  }
  
  .song-table tr:hover {
    background-color: #e0e0e0;
  }
  

  /* tableComponent.css */
.dedica-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dedica-textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.dedica-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dedica-submit {
  width: 100%;
  padding: 10px;
  background-color: #5bc0de;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dedica-button {
  padding: 8px 12px;
  background-color: #5bc0de;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dedica-div {
  padding: 1rem 0.5rem;
  border: 1px solid #06b6ea;
  border-radius: 20px;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.span-dedica {
  padding: 0.5rem;
}

.span-author {
  background-color: #5bc0de;
  color: white;
  font-weight: 500;
  border-radius: 20px;
  padding: 0.75rem;
}