@font-face {
  font-family: "Bodoni";
  src: local("Bodoni"),
   url("./fonts/Bodoni/BodoniMT.ttf") format("truetype");
  font-weight: bold;
 }

body {
  margin: 0;
  font-family: "Bodoni";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FCFBE0;
  color:#BC3B76;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

